<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Simple Loto System</title>
  </head>
  <body>
    <h1>Welcome <%= user %> to a simple Loto System for FER's WEB2 - LAB1</h1>
    <a href="https://localhost:8443/auth">Login(Authenticate)</a>
    <br />
    <a href="https://localhost:8443/auth/logout">Logout</a>
    <br />
    <a href="https://localhost:8443/tickets"
      >Create a new ticket (Auth required)</a
    >
    <br />
  </body>
</html>
