<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Simple Loto System Results</title>
  </head>
  <body>
    <div><%= drawnNumbersMessage %></div>
    <div>The numbers you chose: <%= numbers %></div>
    <dib><%= resultMessage %></dib>
  </body>
</html>
